{% extends "common/base.html" %}
{% load widget_tweaks %}
{% block content %}
  <!-- Product Detail -->
  <section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
          <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
              <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
              <div class="slick3 gallery-lb">
                <div class="item-slick3" data-thumb="{{ item.image.url }}">
                  <div class="wrap-pic-w pos-relative">
                    <img src="{{ item.image.url }}"
                         alt="IMG-PRODUCT"
                         width="auto"
                         height="auto"/>
                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                       href="{{ item.image.url }}">
                      <i class="fa fa-expand"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 p-b-30">
          <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">{{ item.title }}</h4>
            <p class="stext-102 cl3 p-t-23 p-b-14">{{ item.description }}</p>
            <ul class="p-t-23">
              {% for specification in specifications %}
                <li class="flex-w flex-t p-b-7">
                  <span class="stext-102 cl3 size-205">{{ specification.specification.name }}</span>
                  <span class="stext-102 cl6 size-206">{{ specification.value }}</span>
                </li>
              {% endfor %}
            </ul>
            <!--  -->
            <div class="flex-w flex-m p-t-40 respon7">
              <a href="#"
                 class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#"
                 class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#"
                 class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                 data-tooltip="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bor10 m-t-50 p-t-43 p-b-40">
        <!-- Tab01 -->
        <div class="tab01">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-b-10">
              <a class="nav-link active" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content p-t-43">
            <!-- - -->
            <div class="tab-pane fade show active" id="reviews" role="tabpanel">
              <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                  <div class="p-b-30 m-lr-15-sm">
                    <!-- Review -->
                    {% for review in reviews %}
                      <div class="flex-w flex-t p-b-68">
                        <div class="size-207">
                          <div class="flex-w flex-sb-m p-b-17">
                            <span class="mtext-107 cl2 p-r-20">{{ review.user.name }}</span>
                            <span class="fs-18 cl11">
                              {% with ""|center:5 as range %}
                                {% for _ in range %}
                                  {% if forloop.counter <= review.rating %}
                                    <i class="zmdi zmdi-star"></i>
                                  {% else %}
                                    <i class="zmdi zmdi-star-outline"></i>
                                  {% endif %}
                                {% endfor %}
                              {% endwith %}
                            </span>
                          </div>
                          <p class="stext-102 cl6">
                            <h5>{{ review.title }}</h5>
                          </p>
                          <p class="stext-102 cl6">{{ review.description }}</p>
                        </div>
                      </div>
                    {% empty %}
                      <div class="flex-w flex-t p-b-68">
                        <span class="mtext-107 cl2 p-r-20">Be the first one to add review!</span>
                      </div>
                    {% endfor %}
                    {% include "item/_add_review_form.html" with form=form %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
