{% extends "common/base.html" %}
{% load static %}
{% block content %}
  <section class="bg-img1 txt-center p-lr-15 p-tb-92"
           style="background-image: url({% static 'images/login.jpg' %})">
  </section>
  <!-- Content page -->
  <section class="bg0 p-t-104 p-b-116">
    <div class="container">
      <div class="flex-w flex-tr">
        <div class="bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full">
          <form method="post" action="{% url 'account:login' %}">
            {% csrf_token %}
            <h4 class="mtext-105 cl2 txt-center p-b-30">Log In</h4>
            <div class="bor8 m-b-20 how-pos4-parent">
              <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                     type="text"
                     name="username"
                     placeholder="Your username"/>
              <i class="fa fa-envelope how-pos4 pointer-none"></i>
            </div>
            <div class="bor8 m-b-30 how-pos4-parent">
              <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30"
                     type="password"
                     name="password"
                     placeholder="Your password"/>
              <i class="fa fa-lock how-pos4 pointer-none"></i>
            </div>
            <input type="submit"
                   class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"/>
          </form>
          <div class="flex-c-m">
            <span class="stext-111 cl2 txt-center p-b-30 p-t-30">Don't have an account?</span>
            <span class="stext-111 cl2 txt-center p-b-30 p-t-30">
              <a href="{% url 'account:register' %}">Register</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
